.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(255, 255, 255);
    background-color: #ae11f7;
    border-color: rgb(54, 16, 160);
}

a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}